<ul>
  <% if corsair_signed_in? %>
  <li>
    <%= link_to "Sign Out", destroy_corsair_session_path, method: :delete %>
    <h1>Gossips</h1>
    <p>Les gossips sont là !</p>
  </li>
  <% else %>
  <li>
    <p>Inscrivez-vous pour avoir accès aux gossips</p>
    <%= link_to "sign in", new_corsair_session_path %>
  </li>
  <li>
    <%= link_to "sign up", new_corsair_registration_path %>
  </li>
  <% end %>
</ul>
